import %workspace%/tools/deleted.bazelrc
build -k
build --disk_cache=.bazel_cache
build --experimental_allow_unresolved_symlinks
build --experimental_worker_allow_json_protocol
build --experimental_strict_action_env
build --incompatible_disable_depset_items=false
build --local_test_jobs=1
build --test_output=streamed
build --test_env=HOME
build --verbose_failures
